// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
$primary: red;
$body-bg: #ededed;
// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  header {
    background: #ffffff url("../img/pirate-photos/kraken02.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }

  footer {
    background-color: $primary;
    text-align: center;
  }